/*
 * Configuration for the GigaSpaces Service Grid Administration User Interface
 */

/*
 * Sets system properties for the UI
 */
com.gigaspaces.start {
    /* System properties to set */
    systemProperties = 
        new String[] {"com.gs.start-embedded-lus", "false"};
}

/* 
 * Jini lookup discovery groups. The default is set to look for 
 * DiscoveryGroupManagement.ALL groups. Uncomment the following 
 * declaration to refine the groups to discover, and provide the group 
 * name(s) 
 */
com.gigaspaces.admin {
    groups = BootUtil.toArray("${com.gs.jini_lus.groups}");
    locators = BootUtil.toLookupLocators("${com.gs.jini_lus.locators}");

}

/*
 * Lookup Discovery attribute which controls how often Lookup Discovery examines the 
 * multicast announcements from previously discovered lookup services for liveness.
 */
net.jini.discovery.LookupDiscovery {
    multicastAnnouncementInterval=5000;
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 3.0F, "LookupDiscovery Task", 10);
}

net.jini.discovery.LookupLocatorDiscovery {
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 3.0F, "UI LookupLocatorDiscovery Task", 10);
}

net.jini.lease.LeaseRenewalManager {
	taskManager = new com.sun.jini.thread.TaskManager(11, 15000, 1.0F, "UI LeaseRenewalManager Task", 10);
}

net.jini.lookup.JoinManager {
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 1.0F, "UI JoinManager Task", 10);
}

com.gigaspaces.transport {
    host = BootUtil.getHostAddressFromProperty("java.rmi.server.hostname");

    nioConfig = new com.gigaspaces.config.lrmi.nio.NIOConfiguration(
                                                                        16, /* min executors threads */
                                                                        500, /* max executors threads */
                                                                        1024, /* maxConnPool */
                                                                        true, /* isMultiplex */
                                                                        null, /* bindHostName - if null resolves to the localhost IP address */
                                                                        0, /* bindPort - if null any next free port will be used for incoming client requests. The server port is set by default to 0, which means next free port*/
																		java.lang.Integer.MAX_VALUE, /* threadsQueueSize */
																		0, /* slowConsumerThroughput */
																		100, /* slowConsumerLatency */
                                                                        3 /* slowConsumerRetries */);

	// uncomment the following next line to use Jrmp exporter instead of GenericExporter
    // defaultExporter = new net.jini.jrmp.JrmpExporter();
    defaultExporter = new com.gigaspaces.lrmi.GenericExporter( nioConfig );
}

/* -----------------------------------------------------------------------------
 * Default exporter to use for the ServiceDiscoveryManager is the same as the
 * exporter declared above
 * ---------------------------------------------------------------------------*/
net.jini.lookup.ServiceDiscoveryManager {
	cacheTaskManager = new com.sun.jini.thread.TaskManager(10, 15000, 1.0F, "UI SDM Cache Task", 10);
	discardTaskManager = new com.sun.jini.thread.TaskManager(10, 15000, 1.0F, "UI SDM Discard Task", 10);
    eventListenerExporter = com.gigaspaces.transport.defaultExporter;
}

org.jini.rio {
    defaultExporter = com.gigaspaces.transport.defaultExporter;
}
